<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DA101G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/front-end/card/*</url-pattern>
    <url-pattern>/front-end/course_order/*</url-pattern>
    <url-pattern>/front-end/course_report/*</url-pattern>
    <url-pattern>/front-end/event/*</url-pattern>
    <url-pattern>/front-end/friend/*</url-pattern>
    <url-pattern>/front-end/language/*</url-pattern>
    <url-pattern>/front-end/member/listOneMember.jsp</url-pattern>
    <url-pattern>/front-end/member/memberCalendar.jsp</url-pattern>
    <url-pattern>/front-end/member/update_member_input.jsp</url-pattern>
    <url-pattern>/front-end/message/listOneMember.jsp</url-pattern>
    <url-pattern>/front-end/message/memberCalendar.jsp</url-pattern>
    <url-pattern>/front-end/message/update_member_input.jsp</url-pattern>
    <url-pattern>/front-end/point_trans/*</url-pattern>
    <url-pattern>/front-end/que/*</url-pattern>
    <url-pattern>/front-end/queori/*</url-pattern>
    <url-pattern>/front-end/sort_course/*</url-pattern>
    <url-pattern>/front-end/teacher/addTeacher.jsp</url-pattern>
    <url-pattern>/front-end/teacher/teacherCalendar.jsp</url-pattern>
    <url-pattern>/front-end/teacher/update_teacher_input.jsp</url-pattern>
    <url-pattern>/front-end/teacher_ad/*</url-pattern>
    <url-pattern>/front-end/teacher_course_list/*</url-pattern>
    <url-pattern>/front-end/time_order/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CheckIsAgainFilter</filter-name>
    <filter-class>filters.CheckIsAgainFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckIsAgainFilter</filter-name>
    <url-pattern>/front-end/friend/listFriend.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  
  <filter>
    <filter-name>autoNotifyFilter</filter-name>
    <filter-class>filters.AutoNotifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>autoNotifyFilter</filter-name>
    <url-pattern>/front-end/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
  
  
    <filter-name>teacherFilter</filter-name>
    <filter-class>filters.TeacherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>teacherFilter</filter-name>
    <url-pattern>/front-end/teacher/teacherCalendar.jsp</url-pattern>
    <url-pattern>/front-end/teacher_ad/*</url-pattern>
    <url-pattern>/front-end/teacher_course_list/*</url-pattern>
    <url-pattern>/front-end/card/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>systemManagerFilter</filter-name>
    <filter-class>filters.SystemManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>systemManagerFilter</filter-name>
    <url-pattern>/back-end/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>login.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/member/loginHandler.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutHandler</servlet-name>
    <servlet-class>login.LogoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHandler</servlet-name>
    <url-pattern>/member/logoutHandler.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberReader</servlet-name>
    <servlet-class>com.member.controller.MemberReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberReader</servlet-name>
    <url-pattern>/member/memberReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.message.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message/message.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Point_transServlet</servlet-name>
    <servlet-class>com.point_trans.controller.Point_transServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Point_transServlet</servlet-name>
    <url-pattern>/point_trans/point_trans.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendChooseServlet</servlet-name>
    <servlet-class>com.friendchoose.controller.FriendChooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendChooseServlet</servlet-name>
    <url-pattern>/friend/friendChoose.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteFriendPicture</servlet-name>
    <servlet-class>com.friendchoose.controller.WriteFriendPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteFriendPicture</servlet-name>
    <url-pattern>/friend/writeFriendPicture.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendChooser</servlet-name>
    <servlet-class>com.friendchoose.controller.FriendChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendChooser</servlet-name>
    <url-pattern>/friend/friendChooser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendManageServlet</servlet-name>
    <servlet-class>com.friendmanage.controller.FriendManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendManageServlet</servlet-name>
    <url-pattern>/friend/friendManage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_orderServlet</servlet-name>
    <servlet-class>com.Course_order.controller.Course_orderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_orderServlet</servlet-name>
    <url-pattern>/course_order/course_order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course_reportServlet</servlet-name>
    <servlet-class>com.Course_report.controller.Course_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course_reportServlet</servlet-name>
    <url-pattern>/course_report/course_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LanguageServlet</servlet-name>
    <servlet-class>com.Language.controller.LanguageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanguageServlet</servlet-name>
    <url-pattern>/language/language.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sort_courseServlet</servlet-name>
    <servlet-class>com.Sort_course.controller.Sort_courseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sort_courseServlet</servlet-name>
    <url-pattern>/sort_course/sort_course.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Teacher_adServlet</servlet-name>
    <servlet-class>com.Teacher_ad.controller.Teacher_adServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher_adServlet</servlet-name>
    <url-pattern>/teacher_ad/teacher_ad.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Teacher_course_listServlet</servlet-name>
    <servlet-class>com.Teacher_course_list.controller.Teacher_course_listServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher_course_listServlet</servlet-name>
    <url-pattern>/teacher_course_list/teacher_course_list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.Teacher.controller.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/teacher/teacher.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherImageShow</servlet-name>
    <servlet-class>com.Teacher.model.TeacherImageShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherImageShow</servlet-name>
    <url-pattern>/teacher/teacherwrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Time_orderServlet</servlet-name>
    <servlet-class>com.Time_order.controller.Time_orderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Time_orderServlet</servlet-name>
    <url-pattern>/time_order/time_order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>com.card.controller.CardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/card/card.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardMP3Servlet</servlet-name>
    <servlet-class>com.card.controller.CardMP3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardMP3Servlet</servlet-name>
    <url-pattern>/card/cardmp3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommodityServlet</servlet-name>
    <servlet-class>com.commodity.controller.CommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommodityServlet</servlet-name>
    <url-pattern>/commodity/commodity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommodityPicServlet</servlet-name>
    <servlet-class>com.commodity.controller.CommodityPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommodityPicServlet</servlet-name>
    <url-pattern>/commodity/commoditypic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueServlet</servlet-name>
    <servlet-class>com.que.controller.QueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueServlet</servlet-name>
    <url-pattern>/que/que.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResServlet</servlet-name>
    <servlet-class>com.res.controller.ResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResServlet</servlet-name>
    <url-pattern>/res/res.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QRReportServlet</servlet-name>
    <servlet-class>com.qrreport.controller.QRReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QRReportServlet</servlet-name>
    <url-pattern>/qrreport/qrreport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecruitServlet</servlet-name>
    <servlet-class>com.recruit.controller.RecruitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruitServlet</servlet-name>
    <url-pattern>/recruit/recruit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecrepoServlet</servlet-name>
    <servlet-class>com.recrepo.controller.RecrepoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecrepoServlet</servlet-name>
    <url-pattern>/recrepo/recrepo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.event.controller.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/event/event.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HashtagServlet</servlet-name>
    <servlet-class>com.hashtag.controller.HashtagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashtagServlet</servlet-name>
    <url-pattern>/hashtag/hashtag.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FavorqueServlet</servlet-name>
    <servlet-class>com.favorque.controller.FavorqueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavorqueServlet</servlet-name>
    <url-pattern>/favorque/favorque.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
    <param-value>30720000</param-value>
  </context-param>
  <listener>
    <listener-class>listener.FriendListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>AutoDeleteServlet</servlet-name>
    <servlet-class>com.Time_order.controller.AutoDeleteServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoDeleteServlet</servlet-name>
    <url-pattern>/AutoDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>