<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.da101g5app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".card.CardActivityMultiChoice"
            android:label="@string/title_activity_card_multi_choice"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
        android:name=".card.CardActivityVoiceTest"
        android:label="@string/title_activity_card_voice_test"
        android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".card.CardActivitySpellingTest"
            android:label="拼字測驗"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".point.Point_transActivity"
            android:label="點數儲值" />
        <activity android:name=".teacher.TeacherDetailActivity" />
        <activity
            android:name=".card.CardListActivityTabbed"
            android:label="@string/title_activity_card_list" />
        <activity
            android:name=".course.CourseLiveActivity"
            android:screenOrientation="landscape"
            android:label="Course Live!" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="懶咕雞家教平台"
            android:theme="@style/AppTheme.NoActionBar" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>